
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Source+Sans+Pro:wght@300;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

li{
    list-style: none;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee;
    position: relative;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88px;
    width: 50%;
    text-align: center;
    background-color: rgb(193, 228, 228);
    border-radius: 20px;
}

.project-title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
}


form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    position: relative;
}


input[type=text]{
    width: 450px;
    height: 50px;
    border-radius: 10px;
    font-size: 15px;
    padding-left: 15px;
    border: none;
    outline: none;
}




          
.submit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 90%;
    font-family: 'Source Sans Pro', sans-serif;
    width: 70px;
    background-color: aqua;
    outline: none;
    border: none;
    right: 2px;
    border-radius: 10px;
    cursor: pointer;
  }

.submit-btn p{
    margin-left: 10px;
    font-weight: 500;
} 


.submit-btn p:hover{
    font-weight: 900;
}



.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.list-group{
    margin-top: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fa-trash,
.fa-check{
    font-size: 1rem;
}

.item-list {
     font-family: 'Source Sans Pro', sans-serif;
     font-size: 1.3rem;
     border: 0.5px solid rgb(122, 121, 121);
     border-radius: 8px;
     height: 40px;
     margin: 10px;
     width: 450px;
     background-color: white;
     position: relative;
     display: flex;
     text-transform: capitalize;
     align-items: center;
     padding: 5px 6px;
}


#btn-2{
    background-color: rgb(118, 106, 228);
    border: none;
    color: rgb(255, 255, 255);
} 

/* .check{
    position: absolute;
    right: 30px;
} */

li > button{
    background: none;
    border: none;
    background-color: transparent;
    transition: 0.9s ease-in;
    
}

li > button:hover{
    transform: scale(1.1);
    transition: 0.9s ease;
    
}

li > button:nth-child(1)  {
    cursor: pointer;
    margin-left: auto;
    margin-right: 20px;
    color: rgb(98, 209, 157);

}



li > button:nth-child(2)  {
    background: none;
    border: none;
    color: rgb(230, 105, 68);
    background-color: transparent;
    cursor: pointer;
    margin-right: 10px;
   
}

.done {
	color: #ca0748;
    text-decoration: line-through !important;
}

.delete {
	display: none;
}







  
@media only screen and (max-width: 420px) {
    header{
        width: 100vw;
        height: 125px;
        background-color: rgb(193, 228, 228);
    }

    form{
        padding: 0 3px;
    }
}
 
#error {
   position: absolute;
    left: 84px;
    top: 50px;
    color: red;    
    visibility: hidden;
}

.failed{
    color: #e74c3c;
    visibility: visible;
}


